* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.code-wrapper {
  flex: 1;
	height: 50%;
	padding: 12px;
}

.preview-wrapper {
  flex: 1;
  height: 50%;
}

#code{
	overflow: hidden;
	height: 100%;
}

.actions{
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
}

.actions>button{
	margin: 10px;
	padding: 4px 6px;
	background: #ddd;
	border: none;
}

.actions>button.active{
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.actions>button:focus{
	outline: none;
}